/* Контейнер */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #638035;
}
.card-box {
  width: 270px;
  height: 240px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Текст */
h1 {
  font-size: clamp(25px, 3vw + 1em, 35px);
  margin-bottom: 20px;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-top: 40px;
  color: #ff9256;
}

/* Цвета для разных карточек */
.color-1, .color-1 .card-body .card-text {
  background-color: #ff9256;
  color: #FEFAE0;
}

.color-2, .color-2 .card-body .card-text {
  background-color: #d1c1ef;
  color: #638035;
}

.color-3, .color-3 .card-body .card-text {
  background-color: #bfdf8c;
  color: #638035;
}
